.text-container {
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: 60vh;
  border-radius: 25px;

  .title {
    font-family: "PP Mori";

    .title-text {
      color: var(--alternate-color);
      line-height: 1.1;
      text-align: left;
      letter-spacing: -1.5px;
      text-shadow: 0 5px 10px rgba(255, 255, 255, 0.1),
        0 -5px 10px rgba(197, 197, 197, 0.12),
        0 -5px 25px rgba(255, 255, 255, 0.15);
      font-weight: 500;

      // Extra Large Desktop
      @media screen and (min-width: 1440px) and (max-width: 2560px) {
        font-size: 42px;
      }

      // Large Laptop
      @media screen and (min-width: 1236px) and (max-width: 1440px) {
        font-size: 150px;
      }

      // Medium Laptop
      @media screen and (min-width: 1132px) and (max-width: 1236px) {
        font-size: 145px;
      }

      // Small Laptop
      @media screen and (min-width: 1056px) and (max-width: 1132px) {
        font-size: 136px;
      }

      // Smaller Laptop
      @media screen and (min-width: 968px) and (max-width: 1056px) {
        font-size: 120px;
      }

      // Large Tablet
      @media screen and (min-width: 812px) and (max-width: 968px) {
        font-size: 106px;
      }

      // Tablets
      @media screen and (min-width: 708px) and (max-width: 812px) {
        font-size: 94px;
      }

      // Small Tablets
      @media screen and (min-width: 568px) and (max-width: 708px) {
        font-size: 76px;
      }

      // Smaller Tablets
      @media screen and (min-width: 528px) and (max-width: 568px) {
        font-size: 70px;
      }

      @media screen and (min-width: 456px) and (max-width: 528px) {
        font-size: 62px;
      }

      // Large Phones
      @media screen and (max-width: 456px) {
        display: none;
      }

      .grad-text {
        background-image: linear-gradient(
          45deg,
          #6e91b9 0%,
          #bcc8dc 100%,
          #9ab1e5 0%,
          #698bbf 100%
        );

        text-shadow: 0 5px 10px rgba(110, 145, 185, 0.1),
          0 -5px 10px rgba(188, 200, 220, 0.15),
          0 -5px 25px rgba(105, 139, 191, 0.15);

        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: gradientAnimation 8s linear infinite;
        animation-direction: alternate;
        background-size: 300% 100%;

        @media screen and (max-width: 456px) {
          background-image: none;
        }
      }

      @keyframes gradientAnimation {
        0% {
          background-position: 0;
        }
        to {
          background-position: 100%;
        }
      }
    }

    .desc {
      font-size: 28px;
      line-height: 1.35;
      color: var(--gray-color);
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      text-align: left;

      // Large Laptop
      @media screen and (min-width: 1236px) and (max-width: 1440px) {
        font-size: 28px;
      }

      // Medium Laptop
      @media screen and (min-width: 1132px) and (max-width: 1236px) {
        font-size: 26px;
      }

      // Small Laptop
      @media screen and (min-width: 1056px) and (max-width: 1132px) {
        font-size: 25px;
      }

      // Smaller Laptop
      @media screen and (min-width: 968px) and (max-width: 1056px) {
        font-size: 24px;
      }

      // Large Tablet
      @media screen and (min-width: 772px) and (max-width: 968px) {
        font-size: 22px;
      }

      // Tablets
      @media screen and (min-width: 678px) and (max-width: 772px) {
        font-size: 22px;
      }

      // Small Tablets
      @media screen and (min-width: 568px) and (max-width: 678px) {
        font-size: 21px;
      }

      // Smaller Tablets
      @media screen and (min-width: 456px) and (max-width: 568px) {
        font-size: 18px;
      }

      // Large Phones
      @media screen and (max-width: 456px) {
        display: none;
      }
    }
  }

  // Social Media Links

  .social-media-links {
    display: flex;
    flex-direction: row;
    margin-top: 46px;
    gap: 24px;

    .outline-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      border: 2px solid white;
      border-radius: 50%;

      .media-link {
        display: flex;
        flex-direction: column;
        width: 26px;
        height: 25px;
      }
    }
  }
}
